<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076465008610-auf54vput2578mflb8drc2270aiev5ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076465008610-auf54vput2578mflb8drc2270aiev5ch</string>
	<key>API_KEY</key>
	<string>AIzaSyCJF5pq30oeHj2xI70Xpntt41TahUJOsp4</string>
	<key>GCM_SENDER_ID</key>
	<string>1076465008610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambubook</string>
	<key>PROJECT_ID</key>
	<string>ambu-book</string>
	<key>STORAGE_BUCKET</key>
	<string>ambu-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076465008610:ios:a1823d6c9b4ff573c543bb</string>
</dict>
</plist>